// Variables
$light-gray: hsl(234, 14%, 74%);
$medium-gray: hsl(233, 13%, 49%);
$dark-gray: hsl(232, 13%, 33%);

$bg-color: hsl(240, 78%, 98%);

$main-gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));


// Breakpoints
@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 70em) { @content ; }
   }
    @else if $point == laptop {
      @media (min-width: 64em) { @content ; }
   }
     @else if $point == tablet {
      @media (min-width: 50em) { @content ; }
   }
    @else if $point == phablet {
      @media (min-width: 37.5em)  { @content ; }
   }
   @else if $point == mobileonly {
      @media (max-width: 37.5em)  { @content ; }
 
   }
 }